# 开发者工具本地调试
VITE_API_BASE_URL=http://localhost:8080/api

# 真机调试请改成电脑当前局域网 IP，例如：
# VITE_API_BASE_URL=http://10.103.35.28:8080/api

VITE_REWARD_AD_UNIT_ID=adunit-demo-reward
VITE_INTERSTITIAL_AD_UNIT_ID=adunit-demo-interstitial
VITE_BANNER_AD_UNIT_ID=adunit-demo-banner
